{% extends "base.html" %} {% block content %}
<h2>Edit Post</h2>

<form method="post">
    <label class="form-group" for="subject">
        subject
      </label>
    <input id="subject" class="form-control" type="text" name="subject" value="{{post.subject}}">

    <label class="form-group" for="blog">
        blog      </label>
    <textarea id="blog" class="form-control" name="content">{{post.content}}</textarea>


    <div class="error">{{error}}</div>

    <input type="submit" class="btn btn-primary">
    <a href="/blog">cancel</a>
</form>
{% endblock %}
