{% extends "base.html" %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Login</h2>
            <form method="post">
                <label for="username">Username</label>
                <input id="username" class="form-control" type="text" name="username" value="{{username}}">
                <label for="password">Password</label>
                <input id="password" class="form-control" type="password" name="password" value="">

                <div class="error">
                    {{error}}
                </div>

                <input type="submit" class="btn btn-primary">
            </form>
            <hr>
            <p>First time? <a href="/signup">start here</a> </p>
        </div>
    </div>

</div>
{% endblock %}
