{% extends "base.html" %} {% block content %}
<div class="post">
    <div class="post-heading">
        <div class="post-title">
            {{ post.subject | safe }}
        </div>

        <div class="post-date">
            {{ post.created.strftime('%B %d, %Y') | safe }}
        </div>
    </div>

    <div class="post-content">
        {{ post._render_text | safe }}
    </div>

    <h3 id="total-votes" style="">Total votes: {{post.like_by}}</h3>
</div> {% if user.name %}
<div class="">
    <form class="" method="post" action="/blog/liked/{{post.key.id()}}">
        <span id="good">good</span>
        <button type="submit" name="button">
          <i class="fa fa-thumbs-o-up fa-3x" aria-hidden="true" type="submit"></i>
        </button>
    </form>
</div>
{% endif %}
<h3 id="comment-title">Comment: </h3>
<hr> {% for comment in comments %}
<div class="">
    <div class="" style="float:left">
        Poted by: {{ comment.comment_author}}
    </div>
    <div class="" style="position: absolute; right: 0px; color: #999;">
        {{ comment.created.strftime('%B %d, %Y') }}
    </div>

    <br>
    <div class="" style="float:left">
        {{ comment.comments }}
    </div>
    <br>
    <span style="color:red;">
                  {{ commenterror }}
                </span>
    <br><br> {% if user.name == comment.comment_author %}
    <a href="/blog/editcomment/{{comment.key.id()}}">
        <input class="btn btn-primary" type="button" name="" value="Edit Comment">
    </a>

    <a href="/blog/deletecomment/{{comment.key.id()}}">
        <input class="btn btn-primary" type="button" name="" value="Delete Comment">
    </a>
    {% endif %}
</div>
{% endfor %}
<form method="post" action="/blog/comment/{{post.key.id()}}">
    <label for="comment" class="comment-label form-group">Add comments: </label>
    <textarea class="form-control" name="comment" rows="2" cols="80">{{ comment }}</textarea>
    <div class="error">{{ error }}</div>
    <input class="btn btn-primary" type="submit">
</form> {% endblock %}
