<div class="post">
    <div class="post-heading">
        <div class="post-title-link">
            <a href="{{'/blog/%s' % p.key.id()}}">{{ p.subject | safe }}</a>
        </div>

        <div class="post-date">
            {{ p.created | safe }}
        </div>
    </div>

    <div class="post-content">
        {{ p._render_text | safe }}
    </div>
    <h3>Total votes: {{p.like_by}}</h3>
    <div>
        <a href="{{'/blog/editpost/%s' % p.key.id()}}">
            <input class="btn btn-primary" type="button" name="" value="Edit Post">
        </a>
        <a href="{{'/blog/deletepost/%s' % p.key.id()}}">
            <input class="btn btn-primary" type="button" name="" value="Delete Post">
        </a>
    </div>
</div>
