{% extends "base.html" %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">

            <h2>Signup</h2>
            <form method="post">
                <label class="label form-group" for="username">Username</label>
                <input id="username" class="form-control" type="text" name="username" value="{{username}}">
                <p class="error">{{error_username}}</p>
                <label class="label form-group" for="password">Password</label>
                <input id="password" class="form-control" type="password" name="password" value="">
                <p class="error">{{error_password}}</p>
                <label class="label form-group" for="valid_password">Verify Password</label>
                <input id="valid_password" class="form-control" type="password" class="form-control" name="verify" value="">
                <p class="error">{{error_verify}}</p>
                <label class="label form-group" for="email">Email (optional)</label>
                <input id="email" class="form-control" type="text" name="email" value="{{email}}">
                <p class="error">{{error_email}}</p>

                <input type="submit" class="btn btn-primary">
            </form>
            <hr>
            <p>Already have an account? <a href="/login">Log in</a></p>
        </div>
    </div>
</div>
{% endblock %}
